@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ABeeZee-Regular";
  src: url("/fonts/ABeeZee/ABeeZee-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "ABeeZee-Italic";
  src: url("/fonts/ABeeZee/ABeeZee-Italic.ttf") format("opentype");
}
@font-face {
  font-family: "Sofia-Pro-Italic";
  src: url("/fonts/sofia-pro/Sofia Pro Light Italic Az.otf") format("opentype");
}
@font-face {
  font-family: "Suisse-Intl";
  src: url("/fonts/Suisse-Intl/fonts/fonnts.com-Suisse_Intl_Regular.ttf")
    format("opentype");
}
@font-face {
  font-family: "Sofia-Pro-Regular";
  src: url("/fonts/sofia-pro/Sofia Pro Light Az.otf") format("opentype");
}
@font-face {
  font-family: "Sofia-Pro-Bold";
  src: url("/fonts/sofia-pro/Sofia Pro Bold Az.otf") format("opentype");
}
@font-face {
  font-family: "VT232";
  src: url("/fonts/Vt232/VT323-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Microgemma";
  src: url("fonts/microgemma/Microgramma D Extended Bold.otf")
    format("opentype");
}

.shimmer-button {
  position: relative;
  overflow: hidden;
}

.shimmer-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 5%
  );
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
